package dao

import (
	"context"

	{{ .QueryImportPath }}

)

type (
	I{{ .ModelStructName }} interface {
		i{{ .ModelStructName }}
	}

	{{ .ModelStructName }}Dao struct {
		{{ .ModelStructName | LowerFirst }}Dao
	}
)

func New{{ .ModelStructName }}Dao(ctx context.Context) {{ .ModelStructName }}Dao {
	return {{ .ModelStructName }}Dao{
		{{ .ModelStructName | LowerFirst }}Dao{
			{{ .ModelStructName | LowerFirst }}Do: query.{{ .ModelStructName }}.WithContext(ctx),
		},
	}
}
