package dao

import (
	"context"

	{{ .QueryImportPath }}

)

type (
	I{{ .ModelStructName }}Dao interface {
		i{{ .ModelStructName }}Dao
	}

	custom{{ .ModelStructName }}Dao struct {
		{{ .ModelStructName | LowerFirst }}Dao
	}
)

func New{{ .ModelStructName }}Dao(ctx context.Context) I{{ .ModelStructName }}Dao {
	return &custom{{ .ModelStructName }}Dao{
		{{ .ModelStructName | LowerFirst }}Dao{
			{{ .ModelStructName | LowerFirst }}Do: query.{{ .ModelStructName }}.WithContext(ctx),
		},
	}
}
